
node_modules/
build/
dist/
.cache/
.env
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*


__pycache__/
*.py[cod]
*.pyc
venv/
env/
.venv/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/


.DS_Store
Thumbs.db
*.log
logs/
